body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

#container {
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    border: 1px solid #666666;
    width: 1000px;
    margin-top: 15px;
}

#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
    padding: 3em 0 0 0;
}

#mainMenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#mainMenu ul li {
    display: inline;
}

.error {
    border: 1px solid darkred;
    padding: 10px;
    background-color: lightpink;
    color: red;
    margin-top: 10px;
}

ul.errorJsf {
    list-style-type: none;
    padding: 0;
}

ul.errorJsf li {
    display: block;
    border: 1px solid darkred;
    padding: 10px;
    background-color: lightpink;
    color: red;
    margin-top: 10px;
}

.inputRow {
    padding: 5px 0 5px 0;
}

.inputRow label {
    width: 80px;
    display: inline-block;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

#tableData {
    width: 100%;
    border-width: 3px;
    background: rgb(243, 244, 248);
}

#dataTableList {
    width: 100%;
}